@model IEnumerable<MovieTicketBooking.Models.SignUpNextModel>


@{
    ViewBag.Title = "DisplayTheatre";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<h2 class="headingMovie">Theatre Request</h2>
<div class="adminContent">

    <table cellspacing="15">
        <tr>
            <th>Theatre Id </th>
            <th>Theatre Name </th>
            <th> Address</th>
            <th>Status</th>
            <th>A/R</th>
        </tr>
        @foreach (MovieTicketBooking.Models.SignUpNextModel theatre in Model)
        {
            <tr>
                <td>@theatre.TheatreId</td>
                <td>@theatre.TheatreName</td>
                <td>@theatre.Address</td>
                <td>@theatre.Status</td>
                <td class="Submit">
                    @Html.ActionLink("Accept", "AcceptTheatre", new { id = theatre.TheatreId })
                    | @Html.ActionLink("Reject", "DeleteTheatre", new { id = theatre.TheatreId },

new { onclick = "return confirm('Are sure wants to delete?');" })
                </td>
            </tr>

        }
    </table>
</div>










