@model MovieTicketBooking.Models.SignUpNextModel

@{
    ViewBag.Title = "SignUpNext";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="content">
    <h2 class="heading">Register Theatre</h2>
    <h3>@ViewBag.message</h3>
    @using (Html.BeginForm("SignUpNext", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table cellpadding="10">
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.TheatreName)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.TheatreName, new { @MaxLength = 40,@placeholder = "Enter Your Theatre Name..."  })
                    @Html.ValidationMessageFor(model => model.TheatreName, "", new { style = "color:red;" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.Address)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.Address, new { @MaxLength = 50, @placeholder = "Enter Your City..."  })
                    @Html.ValidationMessageFor(Model => Model.Address, "", new { style = "color:red;" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.NoOfScreen)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.NoOfScreen, new { @MaxLength = 2 ,@placeholder = "Enter Your Number of screen..." })
                    @Html.ValidationMessageFor(Model => Model.NoOfScreen, "", new { style = "color:red;" })
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" />
                </td>
            </tr>
        </table>
    }
</div>




